@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

:root{
    --background-color: #A5D7E8;
    --main-color: #0B2447;
    --accent-color: #159895;
    --accent-color-1: #576CBC;
    --accent-color-2: #193760;
}

*{
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: 'Manrope';
    font-size: 16px;
}

.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.section{
    padding: 10px;
}

.section-heading{
    font-family: 'Open-sans';
    font-weight: bold;
}
