<nav>
    <div>
        <h1>Sell Easy</h1>
    </div>
    <div class="middle search-panel">
        <select>
            <option>Applances</option>
            <option>Furniture</option>
            <option>Beauty Care</option>
            <option>Men Clothes</option>
            <option>Women Clothes </option>
            <option>Children Clothes</option>
            <option>Shoes</option>
            <option>Laptops</option>
        </select>
        <div class="search">
            <input type="text" placeholder="Search Products"/>
            <i class="fa-light fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="right">
        <ul class="auth">
            <li>Log in</li>
            <li>Sign up</li>
        </ul>
        <div class="shopping cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>{{2}}</p>
        </div>
    </div>
</nav>