{% extends 'base.html'%}

{% load static %}

{% block title%}Home Page{% endblock %}

{%block content%}
    {#BANNER SECTION#}
    <div class="banner">
        <img src="{%static 'images/banner.png'%}"/>
    </div>

    {#CATEGORY SECTION#}
    <section>
        <div class="section-heading">
            <h2>Product Categories</h2>
            <div class="view all">
                <p>View all</p>
                <i class="fas fa-arrow-right"></i>
            </div>        
        </div>
        <div class="section-grid">
            {% for category in categories%}
                <div class="card">
                    <h3>{{category.name}}</h3>
                </div>
            {%endfor%}
        </div>
    </section>

    {#PRODUCYS SECTION#}
    <section>
        <div class="section-heading">
            <h2>Featured Products</h2>
            <div class="view-all">
                <a href="{% url 'products'%}">View all</a>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <div class="section-grid">
            {% for product in products%}
                <a href="{% url 'product' product.id%}">
                    <div class ="card product">
                     {% comment %} <div class="image">
                            <img src="{% static 'images/product.png' %}" alt="product"/>
                        <div> {% endcomment %}
                            <div class="title">
                                <h3>{{product.name}}</h3>
                                <p>{{product.price}}<p>
                            </div>
                            <div>
                                <button>Add to Cart</button>
                            </div>
                        </div>
                    </a>
            {% endfor%}
         </div>
    </section>
    {# DISCOUNT SECTION #}
    <section class="discount">
        <div>
            <img src="{% static 'images/discount.png' %}" />
        </div>
        <div>
            <button>Buy Now</button>
        </div>
    </section>
    {#BEST SELLERS SECTION#}
    <section>
        <div class="section-heading">
            <h2>Best Selling Products</h2>
            <div class="view-all">
                <p>View all</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <div class="section-grid">
            {% for product in best_selling_products%}
                <div class ="card product">
                    <h3>{{product.name}}</h3>
                    <p>{{product.price}}<p>
                    <div>
                        <button>Add to Cart</button>
                    </div>
                </div>
            {% endfor%}
        </div>
    </section>

    {#STORE SECTION#}
    <section>
        <div class="section-heading">
            <h2>Sellers</h2>
            <div class="view-all">
                <p>View all</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <div class="section-grid">
            {% for store in stores%}
                <div class ="card">
                    <h3>{{store.name}}</h3>
                    <button>Visit Store</button>
                </div>
            {% endfor%}
        </div>
    </section>
  

{%endblock%}